<header class="header">
    <h1 class="title main">ROCK PAPER SCISSORS</h1>
    <div class="score__wrapper">
        <p class="title">Your Score</p>
        <div class="scores">
            <div class="score">
                <p class="title">Win</p>
                <p class="count">{{win}}</p>
            </div>
            <div class="score">
                <p class="title">Draw</p>
                <p class="count">{{draw}}</p>
            </div>
            <div class="score">
                <p class="title">Lose</p>
                <p class="count">{{lose}}</p>
            </div>
        </div>
    </div>
</header>