.container {
    position: relative;
    margin: 0 auto;
    max-width: 720px;
    padding: 10px;
    .btn {
        right: 0;
        bottom: 0;
        position: absolute;
        border: none;
        cursor: pointer;
        width: 128px;
        height: 40px;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2.5px;
        background:transparent;
        color: #FFFFFF;
        transition: 0.6s;
        margin-right: 10px;
        &:hover {
            color: #1F3757;
            transition: 0.6s;
            background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
            border: 1px solid #FFFFFF;
            border-radius: 8px;
            
        }
    }
}
@media(max-width:413px) {
    .container {
       
        .btn {
            right: 50%;
            left: 50%;
            transform:translate(-50%, -50%); 
            bottom: -100px;
            
        }
    }
}